* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes bounce1 {
  from,
  to {
    transform: translateY(0) scale(1, 1);
    animation-timing-function: ease-in;
  }
  45% {
    transform: translateY(3em) scale(1, 1);
    animation-timing-function: linear;
  }
  50% {
    transform: translateY(3em) scale(1.5, 0.5);
    animation-timing-function: linear;
  }
  55% {
    transform: translateY(3em) scale(1, 1);
    animation-timing-function: ease-out;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(15deg);
  }
  10% {
    transform: rotate(-30deg);
  }
  15% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(0deg);
  }
}

.shake {
  animation: shake 3s ease-in-out; /* Durasi animasi */
  animation-iteration-count: infinite;
  margin-left: 20px; 
  margin-top: -1px; 
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.3));
}



